@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #2F303A;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    color: white;
    min-height: 100vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.home {
    font-size: 1.75rem;
    color: inherit;
    text-decoration: none;
}

.home-name {
    margin-left: 3rem;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover {
    color: #adadad;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
}

.main-body {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 40px;
}

.title {
    font-family: Inconsolata, sans-serif;
    font-size: 4rem;
}

.cursor {
    position: relative;
    /* Set the height of the line to match the font size */
    line-height: 1.2;
  }
  
  .cursor::after {
    content: " ";
    position: absolute;
    bottom: 0em; /* Adjust the vertical position */
    display: inline-block;
    width: 0.4em;
    height: 1em;
    background-color: white;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
}

.text-content {
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
}
  
  
